<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    
    <!-- App Settings for OAuth-->
    <add key="ClientAppId" value="204F1073-A179-418A-9729-7E4FC0EBC824"/>
    <add key="ClientAppSecret" value="eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsIng1dCI6Im9PdmN6NU1fN3AtSGpJS2xGWHo5M3VfVjBabyJ9.eyJjaWQiOiIyMDRmMTA3My1hMTc5LTQxOGEtOTcyOS03ZTRmYzBlYmM4MjQiLCJjc2kiOiJhYWM0MTQ0Ni1hOWUwLTQzMzMtODNlOS03OTgzYzY1Y2FjZWQiLCJuYW1laWQiOiI0NDRkOGJhNS00N2RkLTYzMGItYjY2NS03YTZiZDhmODZjMDYiLCJpc3MiOiJhcHAudnN0b2tlbi52aXN1YWxzdHVkaW8uY29tIiwiYXVkIjoiYXBwLnZzdG9rZW4udmlzdWFsc3R1ZGlvLmNvbSIsIm5iZiI6MTU5OTA2MzM0MSwiZXhwIjoxNzU2ODI5NzQxfQ.2-lA_K5fQKRlWcyvlUuw1quQApPmqWrLrtxP4kPrFrkJAC-pnwxGKv9XUPciM2l2fx36vUilwVW6imvW2XXX5rUwgj1YvHHbpr_1Nlnr0uJa3VVOOkQT2NaNvei0Ppn7Flfh8NtSgWXxKMX-sv6Gf8ygqllFP-OX839sOsipPcir8zdzK3_GeFPrJohzHWxePhQ-JdNlU5JuO6ALRMB_TWp2vbo3_wHGSstg5p16Xy0CMrpEbI8Wew2HNtIzGx9mVGQ3kxTuNBen1YjaOwS5SIauDELvp1EOumMAUxMsGcUPN8k1yKvkpIKYyqHmm26DGk7s4gDApPPoqDPiqdIAZA"/>
    <add key="Scope" value="vso.work_full"/>
    <add key="CallbackUrl" value="https://cssfp-ado-migration.azurewebsites.net/oauth/callback"/>
    
    <add key="AuthUrl" value="https://app.vssps.visualstudio.com/oauth2/authorize"/>
    <add key="TokenUrl" value="https://app.vssps.visualstudio.com/oauth2/token"/>
    <add key="ProfileUrl" value="https://app.vsaex.visualstudio.com/me"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

  
    <system.web>
        <customErrors mode="Off"/>
    </system.web>

</configuration>
